<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= @league.name %></title>
	<!-- Date: 2009-11-17 -->
</head>
<body>
  <div id="<%= @league.account.name%>_<%= @league.name.gsub(' ', '').downcase %>" class='LeagueEngine'>
    <div id='league_name'><%= @league.name %></div>
    <%= render(:partial => "plugin_league_list", :locals => { :league => @league })%>
  </div>
</body>
</html>
