<% content_for :javascript do %>
	<%= javascript_include_tag 'players' %>
<% end %>

<form type="post" action="/player/update">
  <% @player_lists.sort_by {|t| t[0]}.each do |team|%>
  <div class="team">
  	<h3><%= team[0] %></h3>

    <% if team[1][:seniors].length > 0 %>
  		<h4>Seniors</h4>
  		<%= render(:partial => "player_list", :locals => {:players_list => team[1][:seniors] } )%>	
  	<% end %>
  	
  	<% if team[1][:juniors].length > 0 %>
  		<h4>Juniors</h4>
  		<%= render(:partial => "player_list", :locals => {:players_list => team[1][:juniors] } )%>	
  	<% end %>
  </div>
  <% end %>
</form>