-form_for ['admin', @league] do |l|
  %label{ :for=>'league_name'}
    League name
  =l.text_field :name
  
  #teams
    %label
      Teams
    = render :partial => 'fteam', :collection => @league.teams.all(:order => 'name')
  = button_to_add( Team, 'fteam')
    
  .btns    
    = submit_tag 'Update League'
    = link_to 'Cancel', admin_leagues_path, :class => 'cancel'