%table.greentable
  %thead
    %tr
	    %th
	      Team
      - @league.stats.display_order.each do |stat|
        %th
           = stat.short_desc.capitalize
  %tbody
	  = render(:partial => 'team', :collection => league.teams.ordered(@order_stats))