%table.greentable
  %thead
    %tr
      %th
        Team
      - @display_stats.each do |stat|
        %th
          = stat.short_desc.capitalize
  %tbody
    = render(:partial => 'team', :collection => league.teams.ordered(@sorting_stats))