#admin_leagues
  - @leagues.each do |league|
    %div{:class => 'white_box league'}
      %h3
        = league.name
      = link_to 'edit', edit_admin_league_path(league)
      = render :partial => 'league', :locals => { :league => league }