/***********************************************************************
 CSS Reset 
************************************************************************/
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************************************************************
 common 
************************************************************************/

body{ background-color: #d3f0bd; min-width: 500px; }

h3 { margin: 10px 0 5px; }


/* base from */
form label { display:block; margin-top: 10px; }
form input, form select  { display: block; margin-top: 5px; }
form .btns { margin-top: 20px; }
  form .btns input{ float:left; }
  form .btns a{ float:left; }
  form .btns a.cancel{ display:block; margin: 8px 0 0 5px; font-size: 0.85em; }
  
input[type='button'], input[type='submit'] { cursor: pointer;}


/***********************************************************************
  fonts
************************************************************************/
  /* Verdana, Arial, Helvetica, sans-serif */
body               { font-family: Verdana, Geneva, Tahoma; }
h1, h2, h3, h4, h5 { font-family: Verdana, Tahoma, Geneva; }


/***********************************************************************
 delete confirmation 
************************************************************************/

.delete_confirm                      { float: left;}
  .delete_confirm .confirm           { display: none; background-color: #6BC9FF; font-size: 0.75em; padding: 4px; margin: 5px 0 0 3px; }
  .delete_confirm .confirm            { border-left: 0; border-right: 0;  }
    .delete_confirm .confirm a       {  font-size: 0.90em; color: black; margin-left: 2px;  } 
    .delete_confirm .confirm a:hover {    } 
    
/***********************************************************************
 buttons 
************************************************************************/

.sml_add { clear: both;
}

.sml_del {
  float: left;
  margin-left: 2px;
  padding: 0.05em 0.3em 0.2em; line-height: 10px;
	color: ##f00020;
	border: solid 1px #fff;
	background: #fff;
  font-size: 11px;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}
.sml_del:hover {
  color: #f00020;
}

/***********************************************************************
 containers
************************************************************************/
#admin_content {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.white_box{
  display: inline-block;
  background-color: white;
  margin:  20px;
  padding: 20px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
}

.white_box > h3 { margin-top: 0; }

/**********************************************************************
*********            menus
***********************************************************************/

#menu{
  float: left;
  height: 100%;
  display: inline-block;
  background-color: white;
  margin-top:  30px;
  padding: 20px;
  border-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;  
}

#top_menu{
  position: absolute;
  top: 0;
  right: 10%;
  display: inline-block;
  background-color: white;
  margin-top:  0;
  padding: 10px;
  border-radius: 15px;
  -moz-border-radius-bottomleft:  15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;  
}


/**********************************************************************
*********            green table
***********************************************************************/

table.greentable, table.greentable th {border: 0;border-collapse: collapse;font-family: Veranda, Arial, sans-serif; color: #4FA34F;}
table.greentable td{ border-top: 1px solid #D4EED5; border-bottom: 1px solid #D4EED5;}

table.greentable td.first{	padding-left: 20px; text-align: left; }

table.greentable td.last{ padding-right:20px; }

table.greentable td.league_col{ padding-left:30px; padding-right:30px; }

caption { font-size: 150%; font-weight: bold; margin: 5px; }

table.greentable td, table.greentable th { padding: 4px; }

table.greentable th { text-align: center; background: #CFF5B4; color: #4FA34F; font-size: 90%;}

table.greentable th { font-weight: bold;}
table.greentable tbody tr { background: #FCFEFC; }
table.greentable tbody tr.overdue { background: #fbbeaf; }
table.greentable tbody tr.even { background: #F7FCF7; }
table.greentable tbody tr.active { background: #FBFF94; }
table.greentable tbody tr td { text-align: center;padding: 2px 6px; }

table.greentable tbody tr td.left { text-align: left; }
table.greentable tbody tr td.right { text-align: right;}
table.greentable tbody tr td.extend{ border: 0; background:0;}

table.greentable a:link { color: #718ABE; text-decoration: none; }
table.greentable a:visited { color: #718ABE; text-decoration: none;}
table.greentable a:hover { color: #718ABE; text-decoration: underline !important;}

table.greentable tfoot th, table.greentabletfoot td { font-size: 85%;}


table.greentable td div.row_left_options { position: absolute; width: 65px; right: 26px; top:2px; overflow: hidden; display:none;}
  table.greentable div.row_left_options a { height: 16px; width:16px; display:block; overflow: hidden; float:left; text-indent: -9999px;}
	table.greentable div.row_left_options a.edit { margin-right: 5px;
		                                           background: transparent url(/images/btns/edit.png) no-repeat top left;}
	table.greentable div.row_left_options a.delete { margin-right: 5px;
		                                             background: transparent url(/images/btns/delete.png) no-repeat top left;}
	table.greentable div.row_left_options a.merge {  margin-top: 2px;
		                                             background: transparent url(/images/btns/merge.png) no-repeat top left; width:20px;}

/***********************************************************************
 signup
************************************************************************/
#signup_form{
  margin: 25px;
  width: 645px;
}

/***********************************************************************
 admin leagues
************************************************************************/
#admin_leagues .league { position: relative; }
  #admin_leagues .league a{ position: absolute; display: none; top: 7px; right: 15px; }
  
/* league form */
.league_form { width: 300px;}
.league_form #league_name { width: 130px; }
.league_form #teams { overflow: hidden;
}
.league_form .team_name { width: 130px; float: left; clear: both;}

