<table class="greentable center">
	  <thead>
	   <tr>
	    <th colspan="4">Games</th>
	   </tr>
	  </thead>

	   <tbody>
			<%= render :partial => 'game_row', :collection => games_table %>
	  </tbody> 
</table>