<%#<form>
  <ol>
    <li>
      <input type='checkbox' name='all'> All
    </li>
    <li>
      <input type='checkbox' name='upcoming'> Upcoming
    </li>
    <li>
      <input type='checkbox' name='saved'> Saved 
    </li>
    <li>
      <input type='checkbox' name='saved'> Completed 
    </li>
  </ol>   
</form>
%>

<% if @games.length != 0 %>
<table class="greentable center">
	  <thead>
	   <tr>
	    <th colspan="4">Games</th>
	   </tr>
	  </thead>

	   <tbody>
			<%= render :partial => 'game_row', :collection => @games %>
	  </tbody> 
</table>
<% end %>




