<tr class="days">
	<td class="weekend"><%= @cal.render_day(start_date) %></td>
	<td><%= @cal.render_day(start_date+1) %></td>
	<td><%= @cal.render_day(start_date+2) %></td>
	<td><%= @cal.render_day(start_date+3) %></td>
	<td><%= @cal.render_day(start_date+4) %></td>
	<td><%= @cal.render_day(start_date+5) %></td>
	<td class="weekend"><%= @cal.render_day(start_date+6) %></td-->
</tr>