<%= link_to('<img src="'+table_buttons.button.folder+table_buttons.button.src+'"  title="'+table_buttons.alt_text+'" alt="'+table_buttons.alt_text+'" border=0 />', {:controller => table_buttons.link_to_controller, :action => table_buttons.link_to_action}) %>
