<span><%=team.name%></span>
<table style="margin: 0 auto;" class='teamlist'>

<% (1..14).each do |i| %>
	<tr>
		<td><%= i %></td><td><%= text_field_tag "game[teams][#{team.id}][players][]", @members[team.id][i], :size=>20 %> </td>
	</tr>
<% end %>
</table>
<%= check_box_tag "game[teams][#{team.id}][forget_team]", '1', false %> Forget this team 