<div id='player_stats'>
<table class='stat_list'>
  <tr>
    <th>Time</th><th>Team</th><th>No.</th><th>Stat</th><th></th>
  </tr>
  <%= render :partial => 'player_stat', :collection => player_stats %>
</table>
<a class="add_player_stat green btn" href="blank">add player stat</a>
<div class="hidden">
  <!-- blank player stat row for js addition -->
  <script type="text/javascript">
    <%
      blank = %Q|#{render :partial => "player_stat", :locals => { :player_stat => PlayerStat.new }}|
      blank.gsub!(/(\s{2,} |\n)/, "")
    %>
    var blank_player_stat = '<%= blank %>';
  </script>
</div>
</div>