<% form_for :game, :url => { :action => :new } do |form| %>
<h3>New game</h3>
<div>
<%= render :partial => 'form', :object => form, :locals => {:game => @game} %> 
</div>
<div style="clear:both;">
<%= submit_tag "Add game" %> 
<%= link_to 'Back', :action => 'list' %>
<% end %>
</div>
