<td><input type="checkbox" value="<%= player.id%>"></td>
<td class='name'><%=player.name %></td>
<td>
	<% games_count = 0
	   games_played = []
		 games.each_with_index do |g, i| 
		   if player.played_game?(g)
	       games_played[i]='x'
	       games_count = games_count + 1
	     else
	       games_played[i]=''
	     end
     end
 %>
 <%= games_count %>
</td>
<% games_played.each do |g| %>
	<td>
		<%= g %>
	</td>
<% end %>
