<% content_for :javascript do %>
	<%= javascript_include_tag 'players' %>
<% end %>

<form type="post" action="/player/update">
  <% @teams.each do |team|%>
  <div class="team">
  	<h3><%= team.key %></h3>

    <% if team[:seniors].length > 0 %>
  		<h4>Seniors</h4>
  		<%= render(:partial => "player_list", :locals => {:players_list => team[:seniors] } )%>	
  	<% end %>
  	
  	<% if team[:juniors].length > 0 %>
  		<h4>Juniors</h4>
  		<%= render(:partial => "player_list", :locals => {:players_list => team[:juniors] } )%>	
  	<% end %>
  </div>
  <% end %>
</form>